.hompage {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    text-align: center;
    margin: 1rem auto;
    justify-content: center;
    align-self: center;
}

.complete-button {
    width: 20px;
    margin: auto;
}

.remove-button {
    width: 20px;
    margin: auto;
}

.complete-button:hover {
    color: green;
}

.remove-button:hover {
    color: orangered;
}

.add-button {
    width: 24px;
    margin-left: 6px;
}

.add-button:hover {
    color: darksalmon;
}

.task {
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    background: gainsboro;
    padding: 0 1rem;
    border-radius: 12px;
    margin: 4px auto 1px auto;
}

.text {
    font-size: 16px;
    color: black;
    font-weight: 550;
}

.outerDiv {
    background: #FAF3F3;
    padding: 1rem;
    border-radius: 12px;
}

.TASKS {
    margin: 2rem auto;
    align-self: center;
}

.input-field {
    font-size: 16px;
    font-weight: 500;
    color: midnightblue;
    background: #FAF3F3;
    padding: 0 auto;
    text-align: center;
    border-radius: 10px;
    text-overflow: clip;
}

.input-field:focus {
    border-radius: 10px;
    outline: none;
}

.input-form {
    display: flex;
    justify-content: space-around;
    align-self: center;
    margin: auto;
}

.strong-text {
    font-size: 18px;
    margin: 1rem;
}

.Task {
    margin: 10px auto;
}

.lists {
    max-width: 60%;
    text-align: center;
    margin: auto;
}
